body {
   box-sizing: border-box;
   margin: 15px;
   font-family: 'Outfit', sans-serif;
   background-color: #fafafa;
}
a {
   text-decoration: none;
   color: #000;
   font-size: 1.3rem;
}
.page {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: 0.05fr 1fr;
   height: 96vh;
   width: 96vw;
}


nav {
   grid-column: 2/7;
   grid-row: 1;
   text-align: right;
   margin-top: 1%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.searchBar {
   background-color: #fafafa;
   border-radius: 15px;
   text-align: left;
   
}
.searchBar img {
   position: relative;
   top: 5px;
}
.searchBar input {
   outline: none;
   border: none;
   height: 2.5rem;
   background-color: transparent;
   font-size: 1.3rem;
   padding-left: 10px;
}
.navLinks {
   display: flex;
   list-style-type: none;
}

.navLinks a {
   margin-left: 15px;
   padding-bottom: 7px;
}
.navLinks a:hover {
   border-bottom: 2px solid black;
}
.navLinks > img {
   height: 2rem;
   width: 2rem;
   margin-bottom: -10px;
}

@media (max-width:1200px) {
   .page {
      display: flex;
      flex-direction: column;
   }  
   
   .searchBar {
      justify-content: center;
   }
   .searchBar img {
      position: static;
   }
   .navLinks {
      width: 100%;
      max-width: 600px;
      flex-wrap: wrap;
      justify-content: right;
   }
}

@media (max-width:970px) {
   nav {
      flex-wrap: wrap;
      justify-content:left;
      text-align: left;
   }
   .navLinks {
      justify-content: left;
      padding-left: 0px;
   }
}
.sidebar {
   grid-column: 1;
   grid-row: 1/3;
   display: flex;
   flex-direction: column;
   padding-left: 15px;
}
.sidebar > a > img,
.sidebar > div > a > img {
   height: 1.3rem;
   width: 1.3rem;
   margin-right: 0.5rem;
}
.sidebarLinks {
   display: flex;
   flex-direction: column;
}
.sidebarLinks a {
   font-size: 1.25rem;
   line-height: 50px;
   font-weight: 400;
}
.sidebar h1 {
   font-size: 2.5rem;
}

.helpCenter a {
   position: absolute;
   bottom: 20px;
}


@media (max-width:1200px) {
   .sidebar {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
   }
   
   .sidebarLinks {
      flex-direction: row;
      flex-wrap: wrap;
   }
   .sidebarLinks a {
      margin-left: 0.5rem;
   }
}



main {
   margin-top: 15px;
   grid-column: 2/7;
   grid-row: 2;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 2%;
   width: 100%;
   height: 100%;
}

.column {
   display: flex;
   flex-direction: column;
   gap: 4%;
}

.row {
   display: flex;
   flex-direction: row;
   gap: 4%;
}
main > div > a > img {
   cursor: pointer;
   width: 100%;
   height: 100%;
   border-radius: 20px;
}
@media (max-width:1050px) {
   main {
      display: flex;
      flex-direction: column;
   }
   main div {
      width: 100%;
   }
   .column, .row {
      gap: 2%;
   }
   
}
